<nav class="navbar navbar-success navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <p class="navbar-text">Welcome, <%= current_user.username %></p>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', user_path(current_user) %></li>
        <li><%= link_to 'Edit Profile', edit_user_path(@user) %></li>
        <li><%= link_to 'Log Out', logout_path, {method: "DELETE"} %></li>
      </ul>
    </div>
  </div>
</nav>
