<h1>user/add_card</h1>
<%=render 'partials/navbar'
<!-- create a form -->

<% provide(:title, "Add Card") %>
<% form_for @user, url: edit_user_path do |f| %>

<% options = options_from_collection_for_select(@cards, 'name') %>
<%= f.select :all_val,  options %>

<%= link_to 'button', user_add_card_path(current_user, Card.first), method: :post %>
 <%= f.collection_select :user, Card.order(:name),:id,:name, include_blank: true %>
 <% end %>
