<!-- display the user's cards -->
<%= render 'partials/navbar' %>

<div class="container">
<% current_user.cards.in_groups_of(4, false).each do |group| %>
  <div class='row'>
    <% group.each do |c| %>
      <div class='col-md-3'>
        <div class="thumbnail center">
          <%= image_tag(c.imageUrl, :class => "card") %>
          <h4 class='bold'><%= c.name %></h4>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
