<%= render 'partials/navbar' %>

<div class="container">

<div class="row">

  <%= link_to user_cards_path do %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="/assets/Pikachu.png" alt="View Deck">
          <div class="caption">
          <h3 class='center'>View Favorites</h3>
  <% end %>
          </div>
      </div>
    </div>

  <a href = '/cards/add/'>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="/assets/Eevee.png" alt="Add Cards">
          <div class="caption">
          <h3 class='center'>Add Favorites</h3>
  </a>
        </div>
      </div>
    </div>

  <%= link_to edit_card_path do %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="/assets/Mewtwo.png" alt="Edit Cards">
        <div class="caption">
          <h3 class='center'>Edit Favorites</h3>
  <% end %>
        </div>
      </div>
    </div>

  <%= link_to edit_user_path do %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="/assets/Gyarados.png" alt="Edit Account">
          <div class="caption">
          <h3 class='center'>Edit Account</h3>
  <% end %>
          </div>
      </div>
    </div>

  </div>
</div>
