<div class = "padding-where-no-nav"></div>
<div class="container">

<div class="row">

<a href = '/users/new/'>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="assets/Butterfree.png" alt="Butterfree">
          <div class="caption">
          <center><h3>New Account</h3></center>
  </a>
          </div>
      </div>
    </div>

  <a href = '/sessions/new/'>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="assets/Marowak.png" alt="Marowak">
          <div class="caption">
          <center><h3>Sign In</h3></center>
  </a>
        </div>
      </div>
    </div>

  <a href = '/pages/show/'>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="assets/Dewgong.png" alt="Dewgong">
          <div class="caption">
          <center><h3>Browse</h3></center>
  </a>
        </div>
      </div>
    </div>

  <a href = '/pages/search/'>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="assets/Fennekin.png" alt="Fennekin">
        <div class="caption">
          <center><h3>Search</h3></center>
  </a>
        </div>
      </div>
    </div>
  </div>
</div>
