<div class = "padding-where-no-nav"></div>
<div class="container">

<div class="row">

<a href = '/users/new/'>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <!-- <img src="assets/Butterfree.png" alt="Butterfree"> -->
        <%= image_tag 'Butterfree.png' %>
          <div class="caption">
          <h3 class='center'>New Account</h3>
  </a>
          </div>
      </div>
    </div>

  <a href = '/sessions/new/'>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag 'Marowak.png' %>
          <div class="caption">
          <h3 class='center'>Sign In</h3>
  </a>
        </div>
      </div>
    </div>

  <a href = '/pages/show/'>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag "Dewgong.png" %>
          <div class="caption">
          <h3 class='center'>Browse</h3>
  </a>
        </div>
      </div>
    </div>

  <a href = '/pages/search/'>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag "Fennekin.png" %>
        <div class="caption">
          <h3 class='center'>Search</h3>
  </a>
        </div>
      </div>
    </div>
  </div>
</div>
