<!-- display the user's cards -->
<div class="container">

<p>
  <% @current_user.cards.each do |c| %>
  	<h2><%= c.name %></h2>
  	<p>ID: <%= c.card_id %></p>
    <p>Type: <%= c.types %></p>
    <p><%= image_tag(c.imageUrl) %></p>
  <% end %>
</p>
</div>
