<%= render 'partials/navbar' %>

<!-- display one card -->
<div class="container center">
  <%= image_tag(@card.imageUrl) %>
  <h4 class='bold'><%= @card.name %></h4>
  <%= link_to "Delete", destroy_card_path(@card) %> |
  <a href='/404/'>'Give'</a>
  <% end %>
</div>
