<%= render 'partials/navbar' %>

<!-- display one card -->


  <h1 class='bold center'><%= @card.name %></h1>
  <div class="spacer"></div>
  <%= image_tag(@card.imageUrl, :class => "show")  %>
  <div class = "spacer"></div>
  <h3 class='center'>
    <%= link_to "Back", edit_card_path(@card) %> |

  </h3>
</div>
