@import "bootstrap-sprockets";
@import "bootstrap";

.padding-where-no-nav {
  height: 100px;
}

.navbar {
    font-family: 'Exo', sans-serif;
  }
.page-header .yellow {
    margin: 0;
  }

.jumbotron {
    font-family: 'Exo', sans-serif;
    padding:  10px;
    background-color: #ffe164;
    margin-bottom: 0;
    font-weight: 800;
  }

.card {
  width: 70px;
}
.container {
  padding: 10px;
  font-family: 'Exo', sans-serif;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.btn-pokemon {
  background-color: #ffe164
}

a {
  color: #333;
}

.spacer {
  height: 20px;
}
