.navbar {
    font-family: 'Exo', sans-serif;
  }
.page-header .yellow {
    margin: 0;
    }

.page-header {
    font-family: 'Exo', sans-serif;
    padding:  10px;
    background-color: yellow;
  }

.logo {
  padding: 5px;
}

.container {
  padding: 10px;
  font-family: 'Exo', sans-serif;
}
