.jumbotron {
  font-family: 'Exo', sans-serif;
  padding:  10px;
  background-color: yellow;
  margin: 0;
  }

.navbar {
    font-family: 'Exo', sans-serif;
  }

.container {
  padding: 10px;
  font-family: 'Exo', sans-serif;
}
