@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
    font-family: 'Exo', sans-serif;
  }
.page-header .yellow {
    margin: 0;
  }

.jumbotron {
    font-family: 'Exo', sans-serif;
    padding:  10px;
    background-color: yellow;
    padding: 20px;
    font-weight: 800;
  }

.logo {
  padding: 5px;
}

.container {
  padding: 10px;
  font-family: 'Exo', sans-serif;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}
