<!DOCTYPE html>
<html>
<head>
  <title>Pokéstash</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Exo:400,400italic,800,800italic' rel='stylesheet' type='text/css'>

</head>
<body>
  <div class="jumbotron">
    <center><h1>Pokéstash</h1></center>
  </div>

<%= yield %>

</body>
</html>
